.experienceContainer {
  display: flex;
  flex-direction: column;
}
.subheading {
  /* font-weight: bold; */
  text-align: justify;
  margin: 0;
}
.content {
  text-align: justify;
  margin-bottom: 0.5rem;
}
